/* Estilos del archivo app.css de OCS Manager */
.detail-station {
  cursor: pointer;
}

.mid {
  width: 50%; float: left;
}

.all-result-sales-comb {
  cursor: pointer;
}

.search-detail-products-line {
  cursor: pointer;
  color: #337ab7!important;
  text-decoration: none!important;
}
.search-detail-products-line:hover {
  cursor: pointer;
  color: #337ab7!important;
  text-decoration: underline!important;
}

.col-dif {
  background-color: #EEF2F4;
}

/* Estilos complementarios para clientes.css */
@media (max-width: 600px) {
  .card-body {
    font-size: 14px!important;
  }
  .card-footer {
    font-size: 14px!important;
  }
}

table th {
  color: #5A5C69!important; /* Este color se obtuvo de text-dark de clientes.css */
}

.bg-gray {
  background-color: #F5F5F5!important;
}

.bg-primary {
  background-color: #24125F!important;  
}
.bg-primary th {
  color: #fff!important;
}

.btn-group .active {
  color: #fff!important;
  background-color: #CA6F1E!important;
  border-color: #CA6F1E!important;
}

.text-link {
  cursor: pointer;
  color: #337ab7!important;
  text-decoration: none!important;
}
.text-link:hover {
  cursor: pointer;
  color: #337ab7!important;
  text-decoration: underline!important;
}
