/* Estilos del archivo app.css de OCS Manager */
.detail-station {
  cursor: pointer;
}

.mid {
  width: 50%; float: left;
}

.all-result-sales-comb {
  cursor: pointer;
}

.search-detail-products-line {
  cursor: pointer;
}

/* Estilos complementarios para clientes.css */
@media (max-width: 600px) {
  .card-body {
    font-size: 14px!important;
  }
  .card-footer {
    font-size: 14px!important;
  }
}

table th {
  color: #5a5c69!important;
}

.bg-gray {
  background-color: #f5f5f5!important;  
}

.bg-primary {
  background-color: #24125F!important;  
}
.bg-primary th {
  color: #fff!important;
}
